.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%; 
}

.btn a {
  font-size: 40px;
  background-color:transparent;
  text-align: center;
  margin:10px;
  padding: 10px;
  position: relative;
}

.btn a:hover{
    transform: scale(1.25, 1.25);
    transition: 0.2s;
    cursor: pointer;
}
  
.btn p {
    font-size: 20px;
    width: 100px;
    color:#e5e5e5;
}

.Linkedin{
    color:#e5e5e5;
}

.Facebook{
  color: #e5e5e5;
}

.Instagram{
  color:#e5e5e5;
}

