

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.home h1{
    color:#e5e5e5;
    font-size: 25px;
    width: 30px;
    
}

.home h1:hover{
    color:#000000;
    cursor: pointer;
    transition: 0.5s;
}

