body{
    background-color: #003566;
    background-size: 100rem;
    background-repeat: no-repeat;
}


.img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ItemContainer, .ItemContainer p{
    transition: 0.2s;
    color:#e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
   
.ItemContainer:hover{
    transform: scale(1.25, 1.25);
    
}    


.title h2{
    justify-content: center;
    align-items:center ;
    display: flex;
    color: #e5e5e5;
    font-size: 35px;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    margin-top: 10%;
    
}

@keyframes float{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-10px);
    }
    100%{
        transform: translatey(0px);
    }
}

.title img{
    width: 100px;
    
}

