.project{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
   
    
}
.project a {
    font-size: 40px;
    background-color:transparent;
    text-align: center;
    margin:10px;
    padding: 10px;
    position: relative;
}

.project a:hover{
    transform: scale(1.25, 1.25);
    transition: 0.2s;
    cursor: pointer;
    
}

.project p{
    color: #e5e5e5;
    font-size: 20px;
}

.Github{
    color:#e5e5e5;
    
}