

.text {
    display: flex;
    justify-content: center;
    color:#e5e5e5;
    width: 40%;
    margin-left: 30%;
    border-radius: 5%;
    background-color: rgba(28, 28, 99, 0.623);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text p{
    padding: 10px;
    padding-top: 50px;
    width: 100%;
    font-size: 16px; /* tamanho da fonte padrão */
    line-height: 1.5; /* altura da linha padrão */
}

@media (max-width: 768px) {
    .text {
        width: 80%; /* reduzir a largura do contêiner em telas menores */
        margin-left: 10%; /* centralizar o contêiner em telas menores */
    }

    .text p {
        font-size: 14px; /* reduzir o tamanho da fonte em telas menores */
        line-height: 1.4; /* reduzir a altura da linha em telas menores */
        padding-top: 30px; /* ajustar o espaçamento superior em telas menores */
    }
}
.text h1{
    justify-content: center;
    padding-left: 5%;
    margin-left: 4%;

}

.text img {
    width: 200px;
    height: 200px;
    border-radius: 80%;
    position:absolute;
    margin: 1%;
    margin-top: 3%;
    margin-right: 40%;
    border: 5px solid rgba(28, 28, 99, 0.623);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}